@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Ubuntu:wght@500&display=swap');
*{
    margin:0;
    padding:0;
}
nav {
    background-color:#490404;
    font-family: 'Dancing Script', cursive;
    height: 80px;
    color:aliceblue;
    position: sticky;
    top:0;


}
nav ul{
    display: flex;
    list-style-type:none;  
}
 nav img{
    height:80px;
    margin-left: 40px;
     
 } 
 #medley{
     text-align: center;
     margin: 20px 0;
     font-size:50px;
 }
#home{
    text-align:left;
    margin-left:800px;
    margin-top:45px;
    font-size:25px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
#contact{
    text-align:right;
    margin-top:45px;
    font-size:25px;
    margin-left:40px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
#about{
    text-align:right;
    font-size:25px;
    margin-top:45px;
    margin-left:40px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}


body{
    /*background-color:rgb(254, 250, 247);*/
    background-color:#f9f0f0;
}

audio{
    width:70vw;
    height:50px;
    position:fixed;
    bottom:5px;
    left:15vw;
    
}
audio::-webkit-media-controls-panel {
    background-color: #c69293;

}
.imagestrending img{
    border-radius:150px;
    margin-left:80px;
    height:200px;
    width: 200px;
    cursor: pointer;

}
.imagestrending{
    align-items: left;
    /*background-color:#e7adad;*/
    border-radius: 15px;
    margin-top:20px;
    margin-left: 15px;
    margin-right:15px;
}

.names ul {
    display: flex;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    padding: 10 22px; 
}
.names ul li{
    text-align: center;
    width:200px;
    margin-left:90px;
}

