@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Ubuntu&display=swap');
 
 body{
     background-color: rgb(235, 177, 156);
 }

 *{
     margin: 0;
     padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: rgb(245, 89, 32);
    color: black;
}

nav ul li{
    padding: 0 12px;
    font-family: 'Secular One', sans-serif;
}
.logo img{

    width:44px;
    padding:0 8px

}
.logo{
    font-family: 'Secular One', sans-serif;
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}
